[server]
TOKEN =
API_KEY =
PREFIX = >
ADMIN_ID =
GUILD_ID =
AA_ID =
AUTO_ROLE_ID =
MEMBER_ROLE_ID =
PUBLIC_CATEGORY_ID =
APPLICATION_CHANNEL_ID =
API_URL =
GUILD_INVITE_URL =
COLOUR = 0xa57d48
PNW_API_KEY =
BANK_REQUEST_ID =

[logs]
MODERATION_LOGS_CHANNEL_ID =
BANK_LOGS_ID = 0
IT_LOGS_ID = 0

[utils]
WAR_ROOMS_CATEGORY_ID =

[tasks]
OFFENSIVE_WARS_CHANNEL_ID =
DEFENSIVE_WARS_CHANNEL_ID =

[bank]
BANK_ROLE_ID =

[interviews]
INTERVIEWER_CHANNEL_ID =
INTERVIEWER_ROLE_ID =

[emoji]
coal =
oil =
uranium =
lead =
iron =
bauxite =
gasoline =
munitions =
steel =
aluminum =
food =
attrition =
turtle =
blitzkrieg =
fortress =
moneybags =
pirate =
tactician =
guardian =
covert =
arcane =