[server]
TOKEN =
API_KEY =
PREFIX = >
ADMIN_ID =
GUILD_ID =
AUTO_ROLE_ID =
MEMBER_ROLE_ID =
PUBLIC_CATEGORY_ID =
APPLICATION_CHANNEL_ID =
API_URL =
GUILD_INVITE_URL =
COLOUR = 0xa57d48

PNW_API_KEY =
BANK_REQUEST_ID =

uranium =
gasoline =
munitions =
steel =
aluminum =
food =

[utils]
WAR_ROOMS_CATEGORY_ID =